streamlit==1.49.1

langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.74
langchain-text-splitters==0.3.9
langchain-chroma==0.2.5
langchain-huggingface==0.3.1
langchain-mistralai==0.2.11

chromadb==1.0.20

sentence-transformers==5.1.0
transformers==4.55.4
torch

pypdf==6.0.0

python-dotenv==1.1.1

huggingface-hub